# logs
*.log
npm-debug.log

# dependency directory
node_modules

# runtime data
tmp

#screenshots
assets

#android
template/android/app/build
template/android/.gradle
template/android/app/debug.keystore

#iOS
template/ios/Pods